.table-wrapper {
  overflow-y: scroll;
  height: 70vh;
}

.table {
  thead {
    position: sticky;
    top: 0;
    tr {
      border-color: #dbdbdb;
      background: #f4f7fd;
    }
  }

  tbody {
    border-top: none !important;
    tr {
      background: #fff;
    }
    tr:nth-child(2n) {
      background: #f5f9fe;
    }
  }

  .table_btn {
    border: none;
    background: transparent;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 2px;
  }
}
