.table-wrapper {
  overflow-y: scroll;
  height: 70vh;
}

.table {
  thead {
    tr {
      position: sticky;
      top: 0;
      border-color: #f0f0f0;
      background: #fafafa;
    }
  }
  tbody {
    border-top: none !important;
    tr {
      border-color: #f0f0f0;
      background: #fff;
    }
    tr:nth-child(2n) {
      background: #f5f9fe;
    }
  }

  .table_btn {
    border: none;
    background: transparent;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 2px;
  }
}
