.admin_modal {
  .modal {
    .modal-body {
      padding: 2.5rem 1rem;
    }

    .modal-dialog {
      .modal-content {
        border: none;
      }
      .modal-header {
        padding: 0.3rem 0.8rem;
        background: #1ecd83;
        color: #fff;
        h5 {
          font-size: 1.1em;
        }
      }
      .modal-footer {
        display: block;
        padding: 0.8rem 0.8rem;
        border: none;
        justify-content: start;
        text-align: center;
      }
    }
    .header-modal_icon {
      // background: red;
      border-radius: 50%;
      width: 23px;
      height: 23px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        svg {
          path {
            fill: #000;
          }
        }
      }
      svg {
        path {
          transition: 0.2s;
        }
      }
    }
  }
}

.form-select {
  width: auto !important;
}

label {
  font-size: 0.9rem;
  color: #666;
  font-weight: 500;
}

.inputt {
  border: 1px dotted #aaa;
  padding: 0.4rem 1rem;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: none !important;
    margin: 1.75rem auto;
  }
}

.save {
  background: #1ecd83;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.1em;
  cursor: pointer;
  &:hover {
    background: #1ecd83;
    color: #fff;
  }
}
