.modal {
  // backdrop-filter: blur(1px);

  .modal-body {
    padding: 2.5rem 1rem;
  }

  .modal-dialog {
    .modal-content {
      border: none;
    }
    .modal-header {
      padding: 0.3rem 0.8rem;
      background: #1ecd83;
      color: #fff;
      h5 {
        font-size: 1.1em;
      }
    }
    .modal-footer {
      display: block;
      padding: 0.8rem 0.8rem;
      border: none;
      justify-content: start;
      text-align: center;
    }
  }
  .header-modal_icon {
    background: red;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      svg {
        path {
          fill: #000;
        }
      }
    }
    svg {
      path {
        transition: 0.2s;
      }
    }
  }
}

.form-select {
  width: auto !important;
}

label {
  font-size: 0.9rem;
  color: #666;
  font-weight: 500;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: none !important;
    margin: 1.75rem auto;
  }
}
