.footer {
  padding-bottom: 1rem;
  .footer-reklama {
    padding: 2rem 0;
    .swiper {
      background: #fff;
      border-radius: 20px;
      -webkit-box-shadow: 6px 17px 31px -2px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 6px 17px 31px -2px rgba(34, 60, 80, 0.2);
      box-shadow: 0px 0px 20px rgba(34, 60, 80, 0.2);
      .swiper-wrapper {
        padding: 0 1rem;
      }
    }
  }
  .footer-app {
    display: flex;
    justify-content: space-evenly;
    background: #008dff;
    border-radius: 20px;
    height: 40vh;
    overflow: hidden;
    .footer-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      span {
        color: white;
        padding: 1.2rem;
      }
      .footer-button {
        button {
          background: transparent;
          color: white;
          border: none;
          border: 1px solid white;
          margin-left: 30px;
          border-radius: 10px;
          padding: 0.2rem 1.8rem;
          svg {
            margin-left: -18px;
          }
          p {
            font-size: 0.6rem;
            padding: 0;
            margin: 0;
            margin-top: -2px;
          }
          .footer-google {
            margin-left: 10px;
            margin-top: -2px;
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .footer-content-icon {
    display: block !important;
    .footer-content-icons {
      margin-top: 12px;
    }
  }
}

