.reference {
  gap: 3rem;
  justify-content: center;
  padding: 56px 10px;
  .reference-content {
    width: 629px;
    height: 275px;
    border-radius: 20px;
    left: 85px;
    top: 292px;
    background-color: #2323;
    background: url(../../../assates/images/bck.png) no-repeat;
    .reference-content-item {
      width: 246px;
      background: #2c3e50;
      margin: 0;
      padding: 0;
      margin-left: -12px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      height: 100%;
      padding: 46px 36px;
      position: relative;
      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        color: #ffffff;
      }
      .cart-product-description {
        width: 265px;
        height: 51px;
        left: 119px;
        top: 381px;

        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
      }
      .reference-btn {
        position: absolute;
        bottom: 42px;
        border: none;
        background: #939eb4;
        border-radius: 8px;
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
        padding: 0.82rem 1.9rem;
      }
    }
    .reference-content-item-1 {
      width: 100%;
      //   background: #2c3e50;
      background-image: linear-gradient(to left, rgba(255, 0, 6, 0), #2c3e50);

      margin: 0;
      padding: 0;
      margin-left: -12px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      height: 100%;
      padding: 46px 36px;
      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        color: #ffffff;
      }
      .cart-product-description {
        width: 265px;
        height: 51px;
        left: 119px;
        top: 381px;

        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
      }
      .reference-btn {
        width: 117px;
        height: 49px;
        left: 119px;
        top: 480px;
        border: none;
        background: #939eb4;
        border-radius: 8px;
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
        margin-top: 31px;
      }
    }
    .reference-background {
      width: 273px;
      background: linear-gradient(
        180.38deg,
        rgba(44, 62, 80, 0) 0.33%,
        rgba(44, 62, 80, 0.78) 72.25%,
        rgba(44, 62, 80, 0.89) 82.6%,
        rgba(44, 62, 80, 0.95) 91.4%,
        #2c3e50 99.67%
      );
      transform: rotate(90deg);
      margin-left: 164px;
      margin-top: -112.2px;
      height: 100%;
    }
  }
}

.cart-2 {
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 1)
  ) !important;

  background: url(../../../assates/images/bck2.png) no-repeat !important;
}
