.container {
  .site-content_items {
    display: flex;
    justify-content: space-evenly;
    .site-tire_content {
      h2 {
        font-weight: 600;
      }
      .text {
        width: 80%;
      }
      .site-tire_color {
        display: flex;
        gap: 1rem;
        div:nth-child(1) {
          cursor: pointer;
          border: 1px solid #2c3e50;
          width: 47%;
          height: 60px;
          border-radius: 10px;
          text-align: center;
          .qora {
            width: 25px;
            height: 25px;
            background: #222222;
            border-radius: 50%;
            margin: 0;
            padding: 0;
            margin: auto;
            margin-top: 4px;
          }
        }
        div:nth-child(2) {
          cursor: pointer;
          border: 1px solid #939eb4;
          width: 47%;
          height: 60px;
          border-radius: 10px;
          text-align: center;
          .oq {
            width: 25px;
            height: 25px;
            background: #dcdcdc;
            border-radius: 50%;
            margin: 0;
            padding: 0;
            margin: auto;
            margin-top: 4px;
          }
        }
      }

      .site-price {
        margin-top: 20px;
        p {
          color: #2c3e50;
          margin: 0;
          padding: 0;
        }
        .site-text {
          color: #939eb4;
          margin: 0;
          padding: 0;
          font-size: 0.8rem;
          text-decoration: line-through !important;
        }
      }

      .site_btn {
        border: none;
        background: transparent;
        font-size: 1.5rem;
        margin: 0 0.8rem;
        margin-top: -5px;
      }
      .site-tire_item {
        width: 25%;
        overflow: hidden;
        margin-top: 15px;
        div {
          border: 1px solid #ccc;
          border-radius: 20px;
          button {
            padding: 0 12px;
          }

          button:nth-child(1) {
            border-right: 1px solid #ccc;
          }

          button:nth-child(3) {
            border-left: 1px solid #ccc;
          }
        }
      }
      .btn_add {
        border: 1px solid #2c3e50;
        background: #2c3e50;
        color: #fff;
        border-radius: 5px;
        padding: 0.4rem 0.5rem;
        width: 100%;
        margin-top: 20px;
        transition: 0.3s;
        &:hover {
          background: #3a4c5e;
        }
      }
    }
  }
}

.container {
  .list {
    background: #f2f2f2;
    width: 85%;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.8vh;
    padding: 0 0.5rem;
    div {
      button {
        padding: 0.5rem 12rem;
        background: transparent;
        border: none;
      }
      .active {
        background: #fff;
      }
    }
  }
  .site-read_more {
    padding: 1rem 0.2rem;
    width: 85%;
    margin: auto;
    p {
      font-weight: 700;
    }
    div {
      width: 100%;
      p {
        border: 1px solid #ccc;
        margin: 0;
        padding: 0;
        padding: 0.3rem;
        background: #e7efff;
        width: 100%;
      }
    }
  }
}

//  Zom
.iiz {
  max-width: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.iiz--drag .iiz__zoom-img--visible {
  cursor: -webkit-grab;
  cursor: grab;
}

.iiz__img {
  max-width: 100%;
  height: auto;
  display: block;
  pointer-events: none;
  visibility: visible;
  opacity: 1;
}

.iiz__img--hidden {
  visibility: hidden;
  opacity: 0;
}

.iiz__img--abs {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.iiz__zoom-img {
  width: auto !important;
  max-width: none !important;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: block;
}

.iiz__zoom-img--visible {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
  -ms-touch-action: none;
  touch-action: none;
}

.iiz__zoom-portal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
}

.iiz__btn {
  background: rgba(255, 255, 255, 0.8);
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  padding: 0;
  position: absolute;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.iiz__btn:before {
  content: " ";
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.iiz__hint {
  bottom: 10px;
  right: 10px;
  pointer-events: none;
}

.iiz__hint:before {
  content: " ";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.9 19.9'%3E%3Cpath d='M13.9 7.4C13.9 3.8 11 .9 7.4.9S.9 3.8.9 7.4s2.9 6.5 6.5 6.5 6.5-2.9 6.5-6.5zm5.3 12.5l-6.7-7.2c-1.4 1.3-3.2 2.1-5.1 2.1-4.1 0-7.4-3.3-7.4-7.4S3.3 0 7.4 0s7.4 3.3 7.4 7.4c0 1.7-.6 3.4-1.7 4.7l6.8 7.2-.7.6z' fill='%23000222'/%3E%3C/svg%3E");
  width: 20px;
  height: 20px;
}

.iiz__close {
  top: 10px;
  right: 10px;
  visibility: hidden;
  opacity: 0;
}

.iiz__close--visible {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.iiz__close::before {
  content: " ";
  width: 29px;
  height: 29px;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#222),
      to(#222)
    ),
    -webkit-gradient(linear, left top, left bottom, from(#222), to(#222));
  background-image: linear-gradient(#222, #222), linear-gradient(#222, #222);
  background-size: 100% 1px, 1px 100%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (max-width: 768px) {
  .container {
    .site-content_items {
      flex-direction: column;
      .site-tire_content {
        .site-tire_item {
          width: 40%;
        }
      }
    }
  }

  .container {
    .list {
      width: 100%;
      margin-top: 1rem;
      div {
        button {
          padding: 0.5rem 3.8rem;
          background: transparent;
          border: none;
        }
      }
    }
  }
  .swiper {
    width: 100% !important;
  }
}
