.new-header {
  background: var(--backgroundColorNew);
  .container {
    .header-main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.4rem 0;
      .site-header_logo {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        line-height: 27px;
        color: #fff;
      }

      .site-header_form {
        .site-form-select {
          border: none;
          background: transparent;
          color: #939eb4;
          outline: none;
          option {
            background: #2c3e50;
            color: #939eb4;
          }
        }

        .nav-link {
          display: block;
          padding: 0.5rem 0.5rem;
          color: #939eb4;
          text-decoration: none;
          font-size: 0.9rem;
          &:hover {
            color: #c3c7cf;
          }
        }
      }

      .site-header_icon {
        position: relative;
        cursor: pointer;
        .icon {
          position: absolute;
          top: -5px;
          right: -12px;
          background: #ff1212;
          color: white;
          border-radius: 50%;
          font-size: 0.7rem;
          padding: 0 0.3rem;
        }
      }
    }
  }
}
