
.header-top {
  background: #7ac751;
  color: white;
  height: 40px;
  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .site-header_content {
      span {
        select {
          background: transparent;
          border: none;
          outline: none;
          color: white;
          option {
            color: black;
            border-color: #7ac751;
          }
        }
      }
    }
  }
}

.header-main {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // padding: 0.4rem 0;
  // .site-header_form {
  //   // border: 2px solid #7ac751;
  //   border-radius: 6px;
  //   display: flex;
  //   width: 30%;
  //   input {
  //     border: none;
  //     padding: 0.4rem 0.8rem;
  //     border-radius: 6px;
  //     outline: none;
  //     width: 100%;
  //   }
  //   span {
  //     background: #7ac751;
  //     padding: 0 0.8rem;
  //     padding-top: 4px;
  //     cursor: pointer;
  //     border-top-right-radius: 3px;
  //     border-bottom-right-radius: 4px;
  //   }
  // }
}

@media (max-width: 768px) {
  .navbar_link {
    display: none;
  }
  .header-main {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    .site-header_form {
      border: 1.2px solid #7ac751;
      width: 100%;
    }
    .site-header_icon {
      position: absolute;
      top: 0;
      right: 18px;
      .icon {
        position: absolute;
        top: 4px;
        left: 20px;
        border-radius: 50%;
        font-size: 0.6rem;
        padding: 0 0.3rem;
      }
    }
  }
}
