.main {
  position: fixed;
  top: 0;
  bottom: 0;
  .navbar-expand-lg .navbar-nav {
    flex-direction: none !important;
  }

  a {
    color: black;
    cursor: pointer;
  }
  .active {
    background: rgb(63, 104, 240);
  }
}

.nav-link:focus,
.nav-link:hover {
  color: #000;
}
